body {
  width: 700px;
  margin: 50px;
  padding: 20px;
}
.wrapping {
  background-color: yellow;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 20px;
  align-items: center;
  margin-bottom: 50px;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.search input {
  border-radius: 20px;
  border: none;
  width: 1000px;
  height: 50px;
}

.search i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbook {
  display: flex;
  margin-bottom: 50px;
  margin-top: 30px;
}

.mainbook_type {
  background-color: whitesmoke;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.mainbook_btn {
  display: flex;
  justify-content: center;
  position: relative;
  align-content: center;
}

.mainbook_btn i {
  background-color: yellow;
  display: flex;
  border-radius: 50%;
}

.mainbook_btn p {
  background-color: black;
  border-radius: 10px;
  color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-left: 20px;
}
.container2 {
  display: flex;
  justify-content: space-around;
}

.otherbook {
  margin-bottom: 50px;
  margin-top: 30px;
}
.authors {
  display: flex;
  margin-bottom: 50px;
  margin-top: 30px;
}

header {
  font-size: 35px;
  font: solid;
}
